[submodule "2017-06-13 Microsoft Identity Framework/IdentityFrameworkDemo"]
	path = 2017-06-13 Microsoft Identity Framework/IdentityFrameworkDemo
	url = https://github.com/dewnoibkk/identityframework-demo.git
