@model RedisWebDemo.Models.User
@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title.</title>
    </head>
    <body>
        <div>
            <p>Current User:<span style="margin-left: 10px">@Model.Name</span></p>
        </div>
    </body>
</html>
